
 /*캘린더 기본 style*/
        .today_date { position : relative; }
        .today_date ::-webkit-clear-button,
        .today_date ::-webkit-inner-spin-button {display: none; }
        .today_date ::-webkit-calendar-picker-indicator{
            position: absolute;
            left: 0;
            right: 0;
            width:100%;
            height:100%;
            background: transparent;
            color:transparent;
            cursor: pointer;
        }


body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #F3F3F3;
    font-family: "Roboto", sans-serif;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 1;
    z-index: -2;
    background-image : url("../img/back.jpg");
}
.section_wrap {
    align-items: center;
    justify-content: center;
    width: 900px;
    color: #F3F3F3;
    margin: 0 auto;
    opacity: 1;
    transition: opacity 1.2s ease-in-out;
}

.footer_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    color: #F3F3F3;
    padding: 0 20px;
    opacity: 1;
    margin: 0 auto;
}
.write_wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 900px;
    color: #F3F3F3;
    margin: 0 auto;
    opacity: 1;
    transition: opacity 1.2s ease-in-out;

}


.daily_wrap{
    width: 400px;
    height: 350px;
    padding-right: 20px;
    box-sizing: border-box;
    flex: 1 0 auto;
}
#daily-form{
    width: 100%;
    height: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: #F8F8F8;
    color: #262626;
}
#daily-form > input{
    width: 100%;
    height: 50px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: #F8F8F8;
}

.todo_wrap{
    width: 400px;
    height: 350px;
    padding-right: 20px;
    box-sizing: border-box;
    flex: 1 0 auto;
}
#todo-form{
    width: 100%;
    height: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: #F8F8F8;
    color: #262626;
}
#todo-form > input{
    width: 100%;
    height: 50px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: #F8F8F8;
}

.study_wrap{
    width: 400px;
    height: 350px;
    padding-right: 20px;
    box-sizing: border-box;
    flex: 1 0 auto;
}
#study-form{
    width: 100%;
    height: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: #F8F8F8;
    color: #262626;

}
#study-form > input{
    width: 100%;
    height: 50px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: #F8F8F8;
}

#wise_wrap{
    margin: 0 auto;

}

#wise {
    width: 500Px;
    height: 20px;
}


 .nick_top {
     font-size: xx-large;
     padding-left: 10px;
     text-align: right;
     vertical-align: middle;
 }

li {
    list-style: none;
}

h2 { font-size : 20px; display: flex;}

#daily-list{
    display: flex;
    flex-direction: column;
}
#study-list{
    display: flex;
    flex-direction: column;
}
#todo-list{
    display: flex;
    flex-direction: column;
}

