<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mydaily</title>
    <link rel="stylesheet" type="text/css" href=".././static/css/login.css">
    <link rel="stylesheet" type="text/css" href=".././static/css/common.css">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>
<body>
<header class="header_wrap">
    <!-- 헤더 - 페이지 머리 -->
    머리

</header>
<section class="section_wrap">
    중앙

</section>


<footer class="footer_wrap">
    <!-- 푸터 - 페이지 하단 -->

    하단
</footer>



    <script src="../static/js/login.js"></script>
    <script src="../static/js/common.js"></script>
</body>
</html>