<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hojiitagraM</title>
    <link rel="stylesheet" type="text/css" href=".././static/css/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>
<body>
    <article>
        <div class = "login_wrapper">
            <div class="login_logo">MY Daily</div>
                <div class="login_form">
                    <input id="LOGIN_ID" class = "login_text"  type="text" name="id" placeholder="전화번호, 사용자 이름 또는 이메일">
                    <input  id="LOGIN_PW" class = "login_text" type="password" name="id" placeholder="비밀번호">
                    <button id="LOGIN_BTN" class = "login_btn" type="submit" onclick="" disabled>로그인</button>
                    <button id="SIGN_BTN" class = "signup_btn" type="submit" onclick="window.location.href ='/sign_up'">회원 가입</button>
                </div>

        </div>
    </article>
    <script src="../static/js/login.js"></script>
</body>
</html>